<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.14.14" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinmac20" />
  <package id="ReactiveUI" version="11.3.8" targetFramework="xamarinmac20" />
  <package id="Splat" version="9.4.5" targetFramework="xamarinmac20" />
  <package id="System.Reactive" version="4.4.1" targetFramework="xamarinmac20" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinmac20" />
</packages>